@tailwind base;
@tailwind components;
@tailwind utilities;

.project {
	text-decoration: none;
	border-bottom: 2px solid yellow;
	font-weight: 700;
	transition: .5s ease-out;
}

.project:hover {
	background: yellow;
	transition: .1s ease-out;
}

.h-152 {
	height: 260px;
}